.header{
  background-color: $special-shirt;
  border-bottom: 5px solid $special-shirt-shadow;
  h1 {
    margin: 0;
  }
  .signin-form {
    float: right;
    width: 210px;
    border: none;
    margin-top: -80px;
  }
}

.navbar--main {
  width: 350px;
  .list__item__link {
    background-color: $write-it;
    border-color: $write-it-shadow;
  }
}
