.header--modal {
  padding: 20px;
  margin: -50px;
  h1 {
    padding-left: 15px;
  }
}

.modal {
  width: 500px;
  height: 300px;
  background-color: #fff;
  margin: 300px auto;
  padding: 50px;
}

.modal__form {
  margin-top: 50px;
}

.modal__form__fieldset {
  border: none;
}

.modal__form__field {
  background-color: $write-it;
  border-bottom: 5px solid $write-it-shadow;
  padding: 15px;
  margin: 25px -25px;
}

.modal__form__label {
  position: absolute;
}

.modal__form__input {
  margin-left: 60px;
}

.modal__form__submit {
  margin-left: 60px;
}
