.stories-list {
  width: inherit;
}

.stories-list__item {
  height: 60px;
  background-color: $write-it;
  border-bottom: 4px solid $write-it-shadow;
  padding: 15px;
  margin: 20px;
  .votes-box {
    float: left;
    background-color: $special-shirt;
  }
  .arrows {
    position: absolute;
    margin-left: 60px;
  }
  .arrows__up {
    margin: 17px -5px 5px -5px;
  }
  .arrows__down {
    margin: -15px 5px 5px -5px;
  }
}

.stories-list__item__text {
  margin-left: 95px;
  padding-top: 10px;
  .story-title {
    margin: auto;
  }
  a {
    color: inherit;
  }
}
